/*#region Global Styling*/

//-----COLORS-----

$black: #000000;
$black-5: #0d0d0d;
$black-25: #404040;
$white: #ffffff;
$white-5: #f2f2f2;
$white-25: #bfbfbf;
$dark: #310404;

//-----FONTS-----

@font-face {
  font-family: 'NugieItalic';
  src: local('Nugieitalic'), url(../fonts/NugieItalic.ttf) format('truetype');
	font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NugieRegular';
  src: local('NugieRegular'), url(../fonts/NugieRegular.ttf) format('truetype');
	font-weight: normal;
  font-style: normal;
}

$header-font: Apple Chancery, URW Chancery L, Snell Roundhand, Cursive;
$primary-font: Verdana, Arial, Times, Courier, Georgia;

@mixin font-A {
	color: $black-5;
	font-family: $primary-font;
}

@mixin font-B {
	color: $black-5;
	font-family: $header-font;
}

//-----HTML-----

* {
	box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
	background: url('../images/parchment1.jpg') no-repeat center center fixed $white; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*#endregion Global Styling*/

/*#region Common Styling*/

$border-primary: 1px solid $black;

$center: 0px auto;

.center-wrap {
	text-align: center;
}

.page-title {
	font-family: NugieRegular;
	font-size: 2.75em;
	text-decoration: underline;
	color: $dark;
}

.no-display {
	display: none;
}

.height-spacer {
	height: 1000px;
}

.paragraph-heading {
  color: $dark;
	font-size: 1.75em;
	font-family: NugieItalic;
	order: 2;
	display: inline-block;
	vertical-align: middle;
	margin: 20px auto 0px auto;
}

.paragraph {
  color: $dark;
	font-size: 1.25em;
	font-family: $primary-font;
	font-weight: bold;
	margin: 20px 100px 0 100px;
	text-align: justify;
	text-indent: 40px;
}

.musket {
	width: 45px;
	order: 1;
	display: inline-block;
	vertical-align: middle;
}

.musket2 {
	width: 45px;
	order: 3;
	display: inline-block;
	vertical-align: middle;
	transform: scaleX(-1);
	margin-left: 10px;
}

.dagger1 {
	width: 45px;
	order: 1;
	display: inline-block;
	vertical-align: middle;
	transform: scaleX(-1) rotate(75deg);
	margin-right: 10px;
}

.dagger2 {
	width: 45px;
	order: 3;
	display: inline-block;
	vertical-align: middle;
	transform: rotate(75deg);
	margin-left: 10px;
}

/*#endregion Common Styling*/

/*#region Scaffolding*/

.container-A {
	width: 100%;
}

.container-B {
  width: 100%;
	max-width: 1000px;
	margin: $center;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
}

@mixin horizontal-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

@mixin vertical-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

//-----MEDIA QUERY MIXINS
@mixin mobile {
	@media (max-width: 768px) {
		@content;
	}
}

@mixin web {
	@media (min-width: 769px) {
    @content;
  }
}

/*#endregion Scaffolding*/

/*#region App JSX*/

#NavBar {
  order: 1;
	display: inline-block;
	vertical-align: top;
}

#Projects {
  order: 2;
	display: inline-block;
	vertical-align: top;
}

/*#endregion App JSX*/

/*#region Title*/

#title-wrap {
	text-align: center;
	margin-top: 10px;
}

#main-title1 {
  font-family: NugieRegular;
	font-size: 5em;
	color: $dark;
	order: 1;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

#main-title2 {
  font-family: NugieRegular;
	font-size: 5em;
	color: $dark;
	order: 3;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

#crossed-keys {
	order: 2;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}

#sub-title {
  font-family: NugieRegular;
	font-size: 3.5em;
	color: $dark;
	margin: 12px 0 0 10px;
}

.linebreak {
	width: 900px;
	height: 60px;
}

/*#endregion Title*/

/*#region NavBar*/

.nav-container-A {
  width: 100%;
	height: 0;
}

.nav-container-B {
  width: 100%;
	max-width: 1000px;
	margin: $center;
	height: 0;
}

.nav-wrap {
  width: 76px;
	text-align: center;
}

.nav-icon {
	margin-top: 20px;
}

#wheel {
	width: 60px;
	margin-top: 65px;
}

#chest {
	width: 50px;
}

#hook-pirate {
	width: 60px;
	margin-left: 17px;
}

#coin {
	width: 55px;
}

/*#endregion NavBar*/

/*#region Home Page*/

.skills-wrap {
  padding: 0 100px 0 100px;
}

.col-skill {
	width: 33.33%;
}

.skills {
	list-style-image: url('../images/sword5.png');
	color: $dark;
	font-size: 2em;
	font-family: NugieRegular;
	margin-left: 50px;
}

.skills-item {
  margin-top: 15px;
}

.last-skills-item {
  margin-top: 10px;
}

/*#endregion Home Page*/

/*#region Projects Page*/

/*#endregion Projects Page*/

/*#region About Page*/

/*#endregion About Page*/

/*#region Credentials Page*/

/*#endregion Credentials Page*/

/*#region Footer*/

#linebreak2 {
	width: 900px;
	transform: rotate(180deg);
	margin-top: 20px;
}

.glyph-wrap {
	margin: 10px auto 35px auto;
	padding: 0px 100px 0px 100px;
	text-align: center;
}

.glyph {
	margin: 0px 45px;
}

#linkedin {
  width: 50px;
	order: 1;
	display: inline-block;
	vertical-align: middle;
}

#github {
  width: 50px;
	order: 2;
	display: inline-block;
	vertical-align: middle;
}

#raven {
  width: 100px;
	order: 3;
	display: inline-block;
	vertical-align: middle;
}

#medium {
  width: 50px;
	order: 4;
	display: inline-block;
	vertical-align: middle;
}

#youtube {
  width: 50px;
	order: 5;
	display: inline-block;
	vertical-align: middle;
}

/*#endregion Footer*/
