/*#region Scaffolding*/

.container-A {
	width: 100%;
}

.container-B {
  width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

@mixin row-center {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

@mixin col-center {
	display: flex;
	flex-flow: col wrap;
	justify-content: center;
	align-items: center;
}

.center-wrap {
	text-align: center;
}

/*#endregion Scaffolding*/

/*#region Global Styling*/

//-----COLORS-----

$black: #000000;
$black-5: #0d0d0d;
$black-10: #1a1a1a;
$black-15: #262626;
$black-20: #333333;
$black-25: #404040;
$white: #ffffff;
$white-5: #f2f2f2;
$white-10: #e6e6e6;
$white-15: #d9d9d9;
$white-20: #cccccc;
$white-25: #bfbfbf;
$red50: #ff0000;
$red45: #e60000;
$red40: #cc0000;
$red35: #b30000;
$red30: #990000;
$red25: #800000;
$red20: #660000;
$red15: #4d0000;
$red10: #330000;
$red5: #1a0000;

//-----FONTS-----

@font-face {
  font-family: 'NugieItalic';
  src: local('Nugieitalic'), url(../fonts/NugieItalic.ttf) format('truetype');
	font-weight: normal;
  font-style: normal;
	font-display: swap;
}

@font-face {
  font-family: 'NugieRegular';
  src: local('NugieRegular'), url(../fonts/NugieRegular.ttf) format('truetype');
	font-weight: normal;
  font-style: normal;
	font-display: swap;
}

$header-font: Apple Chancery, URW Chancery L, Snell Roundhand, Cursive;
$primary-font: Verdana, Arial, Times, Courier, Georgia;

@mixin pirate-reg {
	color: $black-5;
	font-family: NugieRegular;
}

@mixin pirate-italic {
	color: $black-5;
	font-family: NugieItalic;
}

@mixin primary-font {
	color: $black-5;
	font-family: $primary-font;
}

.dark-glow-image {
  animation: dark-glow-image 1s ease-in-out infinite alternate;
  -webkit-animation: dark-glow-image 1s ease-in-out infinite alternate;
  -moz-animation: dark-glow-image 1s ease-in-out infinite alternate;
}

@keyframes dark-glow-image {
  from {
		filter: drop-shadow(4px 4px 10px $red10);
  }
  to {
		filter: drop-shadow(4px 4px 10px $red15);
  }
}

@-webkit-keyframes dark-glow-image {
  from {
		filter: drop-shadow(4px 4px 10px $red10);
  }
  to {
		filter: drop-shadow(4px 4px 10px $red15);
  }
}

@-moz-keyframes dark-glow-image {
  from {
		filter: drop-shadow(4px 4px 10px $red10);
  }
  to {
		filter: drop-shadow(4px 4px 10px $red15);
  }
}

@mixin cursor {
  cursor: url(../images/cursor.png), crosshair;
}

.dagger1 {
	width: 43px;
	vertical-align: middle;
	transform: scaleX(-1) rotate(75deg);
	margin-right: 20px;
}

.dagger2 {
	width: 43px;
	vertical-align: middle;
	transform: rotate(75deg);
	margin-left: 20px;
}

.visible {
	display: normal;
}

.inVisible {
	display: none;
}

.hidden {
	visibility: hidden;
}

.button-wrap {
	@include col-center;
	margin-top: 15px;
	vertical-align: middle;
	text-align: center;
}

.large-list-wrap {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
  padding: 0 5%;
  font-size: calc(1rem + 1.25vmin);
}

.small-list-wrap {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
  padding: 0 5%;
	font-size: calc(1rem + 1.25vmin);
}

.list-item-link {
	@include pirate-reg;
	color: $red30;
	font-size: calc(1rem + 1.25vmin);
}

.first-item {
  margin-top: 5px;
}

.clearfix-wrap::after {
	content: "";
  clear: both;
  display: inline-block;
	vertical-align: top;
	width: 100%;
}

/*#endregion Global Styling*/

/*#region HTML Tag Styling*/

* {
	box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
	background-color: $black-5;
	background-image: url('../images/parchment.jpg');
  background-size: 1150px 100%;
  -webkit-background-size: 1150px 100%;
  -moz-background-size: 1150px 100%;
  -o-background-size: 1150px 100%;
  background-repeat: no-repeat;
	background-position: center center;
  background-attachment: fixed;
}

//Header Wraps
header {
  display: visible;
}

//Main Title 
h1 {
	@include pirate-reg;
	font-size: calc(3rem + 3vmin);
	filter: drop-shadow(6px 6px 8px $black-5);
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	margin: 0;
}

//Sub Title
h2 {
  @include pirate-reg;
	font-size: calc(1.75rem + 2.5vmin);
	text-align: center;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	margin: 0;
}

//Page Title
h3 {
	@include pirate-reg;
	text-align: center;
	font-size: calc(1.75rem + 2vmin);
	text-decoration: underline;
	margin: 25px 0 15px 0;
}

//Section Header
h4 {
  @include pirate-italic;
	font-size: calc(1.5rem + 1vmin);
	text-decoration: underline;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	text-align: center;
	margin: 20px 0 0 0;
}

//Small Section Header
h5 {
  @include pirate-italic;
	font-size: calc(1.25rem + 1vmin);
	text-decoration: underline;
  text-align: center;
	margin: 10px 0 0 0;
}

//Sub-Section Header
h6 {
  @include pirate-italic;
	font-size: calc(1rem + 1vmin);
	text-decoration: underline;
  text-align: center;
	margin: 5px 0 0 0;
}

p {
	@include primary-font;
	font-size: calc(.9rem + .7vmin);
	font-weight: bold;
	text-align: left;
	text-indent: 1.25em;
	word-break: break-word;
	display: visible;
  margin: 5px 3% 15px;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

ol {
  display: run-in;
  list-style-type: decimal;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
}

ul {
	@include pirate-reg;
	list-style-image: url('../images/smallsword.png');
	display: run-in;
	list-style-type: disc;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
	margin: 0 0 0 30px;
}

li {
  display: list-item;
	margin-top: 10px;
}

em {
	@include pirate-reg;
	font-style: normal;
}

label {
	@include pirate-reg;
}

a {
	@include primary-font;
	font-size: calc(.9rem + .7vmin);
	color: $red30;
  text-decoration: underline;
}

a:hover {
	@include cursor;
}

details {
  display: block;
}

summary {
  @include pirate-italic;
	font-size: calc(1.5rem + 1vmin);
	text-decoration: underline;
	text-align: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	margin: 15px 0 0 0;
}

/*#endregion HTML Tag Styling*/

/*#region Title*/

#maintitle-wrap {
  @include row-center;
	margin-top: 15px;
}

#title-part1 {
	margin-right: 10px;
}

#title-part2 {
	margin-left: 10px;
}

#crossed-keys {
	width: calc(2.5rem + 21vmin);
	min-width: 125px;
	max-width: 216px;
}

#subtitle-wrap {
  @include row-center;
	margin-top: 10px;
}

#breakline1 {
	width: 100%;
	min-height: 22px;
	max-height: 45px;
	margin-top: 5px;
}

/*#endregion Title*/

/*#region NavBar*/

#navlabels-wrap {
  display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: center;
	width: 400px;
	margin: 15px auto 0;
}

#home {
	margin-right: 13px;
}

#projects, #about {
	margin-left: 3px;
}

#nav-wrap {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	height: 61px;
  width: 400px;
	padding: 4px;
	margin: 0px auto;
	border-radius: 15px;
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
}

#pirate, #coin, #open-chest, #closed-chest, #wheel {
	width: calc(2rem + 3vmin);
	min-width: 50px;
	max-width: 55px;
	vertical-align: middle;
}

.notSpinning {
  display: normal;
}

.isSpinning {
	animation: spin 4s cubic-bezier(.7,2.06,.62,.86) infinite forwards;
	-webkit-animation: spin 4s cubic-bezier(.7,2.06,.62,.86) infinite forwards;
	-moz-animation: spin 4s cubic-bezier(.7,2.06,.62,.86) infinite forwards;
}

@keyframes spin {
  100% {
		-webkit-transform: rotate(360deg); transform:rotate(360deg);
	}
}

@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes spin { 
	100% {
		-moz-transform: rotate(360deg);
	}
}

#open-chest {
	animation: invert 3s linear infinite forwards;
	-webkit-animation: invert 3s linear infinite forwards;
	-moz-animation: invert 3s linear infinite forwards;
}

@keyframes invert {
  0% {
    filter: invert(0%);
  }
	50% {
    filter: invert(75%) drop-shadow(8px 8px 20px #ffcc00);
	}
  100% {
    filter: invert(0%);
	}
}

@-webkit-keyframes invert {
  0% {
    filter: invert(0%);
  }
	50% {
    filter: invert(75%) drop-shadow(8px 8px 20px #ffcc00);
	}
  100% {
    filter: invert(0%);
	}
}

@-moz-keyframes invert {
  0% {
    filter: invert(0%);
  }
	50% {
    filter: invert(75%) drop-shadow(8px 8px 20px #ffcc00);
	}
  100% {
    filter: invert(0%);
	}
}

.noSwivel{
	display: normal;
}

#swivel-wrap {
	transform-style: preserve-3d;
	overflow: hidden;
}

.swivel{
	animation: swivel 2s linear infinite forwards;
  -webkit-animation: swivel 2s linear infinite forwards;
	-moz-animation: swivel 2s linear infinite forwards;
}

@keyframes swivel {
  0% { transform: rotateY(0turn); };
  100% { transform: rotateY(1turn); };
}

@-webkit-keyframes swivel {
  0% { transform: rotateY(0turn); };
  100% { transform: rotateY(1turn); };
}

@-moz-keyframes swivel {
  0% { transform: rotateY(0turn); };
  100% { transform: rotateY(1turn); };
}

.plain-pirate {
	display: normal;
}

.ghost-pirate {
  animation: fade 5s linear infinite forwards;
	-webkit-animation: fade 5s linear infinite forwards;
	-moz-animation: fade 5s linear infinite forwards;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
	10% {
    opacity: 0.9;
		filter: drop-shadow(1px 1px 1px $black-5);
  }
	20% {
    opacity: 0.7;
		filter: drop-shadow(2px 2px 2px $black-5);
  }
	30% {
    opacity: 0.5;
		filter: drop-shadow(3px 3px 3px $black-5);
  }
	40% {
    opacity: 0.3;
		filter: drop-shadow(4px 4px 4px $black-5);
  }
	50% {
    opacity: 0;
		filter: drop-shadow(5px 5px 5px $black-5);
  }
	60% {
    opacity: 0.3;
		filter: drop-shadow(4px 4px 4px $black-5);
  }
	70% {
    opacity: 0.5;
		filter: drop-shadow(3px 3px 3px $black-5);
  }
	80% {
    opacity: 0.7;
		filter: drop-shadow(2px 2px 2px $black-5);
  }
	90% {
    opacity: 0.9;
		filter: drop-shadow(1px 1px 1px $black-5);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
	10% {
    opacity: 0.9;
		filter: drop-shadow(1px 1px 1px $black-5);
  }
	20% {
    opacity: 0.7;
		filter: drop-shadow(2px 2px 2px $black-5);
  }
	30% {
    opacity: 0.5;
		filter: drop-shadow(3px 3px 3px $black-5);
  }
	40% {
    opacity: 0.3;
		filter: drop-shadow(4px 4px 4px $black-5);
  }
	50% {
    opacity: 0;
		filter: drop-shadow(5px 5px 5px $black-5);
  }
	60% {
    opacity: 0.3;
		filter: drop-shadow(4px 4px 4px $black-5);
  }
	70% {
    opacity: 0.5;
		filter: drop-shadow(3px 3px 3px $black-5);
  }
	80% {
    opacity: 0.7;
		filter: drop-shadow(2px 2px 2px $black-5);
  }
	90% {
    opacity: 0.9;
		filter: drop-shadow(1px 1px 1px $black-5);
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fade {
  0% {
    opacity: 1;
  }
	10% {
    opacity: 0.9;
		filter: drop-shadow(1px 1px 1px $black-5);
  }
	20% {
    opacity: 0.7;
		filter: drop-shadow(2px 2px 2px $black-5);
  }
	30% {
    opacity: 0.5;
		filter: drop-shadow(3px 3px 3px $black-5);
  }
	40% {
    opacity: 0.3;
		filter: drop-shadow(4px 4px 4px $black-5);
  }
	50% {
    opacity: 0;
		filter: drop-shadow(5px 5px 5px $black-5);
  }
	60% {
    opacity: 0.3;
		filter: drop-shadow(4px 4px 4px $black-5);
  }
	70% {
    opacity: 0.5;
		filter: drop-shadow(3px 3px 3px $black-5);
  }
	80% {
    opacity: 0.7;
		filter: drop-shadow(2px 2px 2px $black-5);
  }
	90% {
    opacity: 0.9;
		filter: drop-shadow(1px 1px 1px $black-5);
  }
  100% {
    opacity: 1;
  }
}

/*#endregion NavBar*/

/*#region Home Page*/

#profile {
  float: left;
  width: 25vmin;
	min-width: 150px;
	max-width: 200px;
	margin: 5px 8px 0px 0px;
}

#intro-info {
  margin: 5px 2% 0 0;
}

#prof-list-wrap {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
  padding: 0 5%;
	margin-top: 10px;
	font-size: calc(1.25rem + 1.5vmin);
}

.last-item {
  margin-top: 4px;
}

/*#endregion Home Page*/

/*#region Projects Page*/

.details-button {  
  @include pirate-reg;
	@include cursor;
	font-size: calc(1.2rem + 1vmin);
	text-decoration: underline;
	color: $red30;
	background: none;
	border: none;
}

#audit {
	width: calc(200px + 40vmin);
	min-width: 375px;
	max-width: 575px;
	margin: 15px auto 0;
}

.audit-description {
  margin: 10px 0;
}

/*#endregion Projects Page*/

/*#region Credentials Page*/

#speakeasy-info {
  margin: 5px 2% 0 0;
}

#speakeasy-pic {
  float: left;
  width: 25vmin;
	min-width: 110px;
	max-width: 170px;
	margin: 5px 8px 4px 0;
}

.close-details {
  @include pirate-reg;
	font-size: calc(1.1rem + 1vmin);
	background: transparent;
	border: 3px solid $red25;
	padding: 7px;
	border-radius: 7px;
	margin-top: 10px;
}

.close-details:hover {
  @include cursor;
}

/*#endregion Credentials Page*/

/*#region About Page*/

#hobbies-info {
  margin-top: 5px;
}

#pool-pic {
  float: left;
  width: 395px;
	margin: 5px 8px 4px 0;
}

/*#endregion About Page*/

/*#region Footer*/

#resume-wrap {
	margin-top: 50px;
	text-align: center;
}

.spyglass {
	width: calc(1.6rem + 2vmin);
	max-width: 45px;
	transform: rotate(295deg);
	vertical-align: middle;
	margin-right: 15px;
}

.hidden-spyglass {
	width: calc(1.6rem + 2vmin);
	max-width: 45px;
	transform: rotate(295deg);
	vertical-align: middle;
	margin-left: 15px;
	visibility: hidden;
}

#resume-link {
	@include pirate-reg;
	color: $red5;
	font-size: calc(1.35rem + 1.5vmin);
	vertical-align: middle;
}

.red-glow-text {
  animation: red-glow-text 1s ease-in-out infinite alternate;
  -webkit-animation: red-glow-text 1s ease-in-out infinite alternate;
  -moz-animation: red-glow-text 1s ease-in-out infinite alternate;
}

@keyframes red-glow-text {
  from {
    text-shadow: 0 0 10px $red25;
  }
  to {
    text-shadow: 0 0 10px $red30;
  }
}

@-webkit-keyframes red-glow-text {
  from {
    text-shadow: 0 0 10px $red25;
  }
  to {
    text-shadow: 0 0 10px $red30;
  }
}

@-moz-keyframes red-glow-text {
  from {
    text-shadow: 0 0 10px $red25;
  }
  to {
    text-shadow: 0 0 10px $red30;
  }
}

#breakline2 {
	width: 100%;
	transform: rotate(180deg);
	margin-top: 20px;
}

#glyph-wrap {
	display: flex;
	flex-flow: col wrap;
	justify-content: space-around;
	align-items: center;
	vertical-align: middle;
	margin: 20px auto 50px auto;
}

.glyph {
	width: calc(2rem + 2.5vmin);
}

#linkedin {
	order: 1;
}

#github {
	order: 2;
}

#pigeon {
  width: calc(3rem + 3vmin);
	order: 3;
}

#medium {
	order: 4;
}

#youtube {
	order: 5;
}

/*#endregion Footer*/
