/*#region Scaffolding*/

.container-A {
	width: 100%;
}

.container-B {
  width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
}

//-----MIXINS

@mixin row-center {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

@mixin col-center {
	display: flex;
	flex-flow: col wrap;
	justify-content: center;
	align-items: center;
}

/*#endregion Scaffolding*/

/*#region Global Styling*/

//-----COLORS-----

$black: #000000;
$black-5: #0d0d0d;
$black-25: #404040;
$white: #ffffff;
$white-5: #f2f2f2;
$white-25: #bfbfbf;
$dark: #310404;
$dark-brown: #630404;
$red: #890e08;
$yellow: #fbbe08;
$orange: #eca104;
$dark-orange: #b05108;

//-----FONTS-----

@font-face {
  font-family: 'NugieItalic';
  src: local('Nugieitalic'), url(../fonts/NugieItalic.ttf) format('truetype');
	font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NugieRegular';
  src: local('NugieRegular'), url(../fonts/NugieRegular.ttf) format('truetype');
	font-weight: normal;
  font-style: normal;
}

$header-font: Apple Chancery, URW Chancery L, Snell Roundhand, Cursive;
$primary-font: Verdana, Arial, Times, Courier, Georgia;


@mixin pirate-reg {
	color: $dark;
	font-family: NugieRegular;
}

@mixin pirate-italic {
	color: $dark;
	font-family: NugieItalic;
}

@mixin primary-font {
	color: $dark;
	font-family: $primary-font;
}

//All Elements Tag
* {
	box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

//Header Wraps
header {
  display: visible;
}

//Main Title 
h1 {
	@include pirate-reg;
	font-size: calc(3rem + 3vmin);
	filter: drop-shadow(6px 6px 8px $dark);
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	margin: 0;
}

//Sub Title
h2 {
  @include pirate-reg;
	font-size: calc(2.25rem + 2vmin);
	text-align: center;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	margin: 0;
}

//Page Title
h3 {
	@include pirate-reg;
	text-align: center;
	font-size: calc(1.75rem + 2vmin);
	text-decoration: underline;
	margin: 25px 0 15px 0;
}

//Section Header
h4 {
  @include pirate-italic;
	font-size: calc(1.5rem + 1vmin);
	text-decoration: underline;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	text-align: center;
	margin: 15px 0 0 0;
}

//Small Section Header
h5 {
  @include pirate-italic;
	font-size: calc(1.25rem + 1vmin);
	text-decoration: underline;
  text-align: center;
	margin: 10px 0 0 0;
}

//Sub-Section Header
h6 {
  @include pirate-italic;
	font-size: calc(1rem + 1vmin);
	text-decoration: underline;
  text-align: center;
	margin: 5px 0 0 0;
}

body {
	background: url('../images/parchment.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
	@include primary-font;
	font-size: calc(.9rem + .7vmin);
	font-weight: bold;
	text-align: left;
	text-indent: 1.25em;
	word-break: break-word;
	display: visible;
  margin: 5px 3% 15px;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

ol {
  display: run-in;
  list-style-type: decimal;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
}

ul {
	@include pirate-reg;
	list-style-image: url('../images/smallsword.png');
	display: run-in;
	list-style-type: disc;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
	margin: 0 0 0 30px;
}

li {
  display: list-item;
	margin-top: 10px;
}

em {
	@include pirate-reg;
	font-style: normal;
}

a:-webkit-any-link {
  color: $red;
  text-decoration: underline;
  cursor: pointer;
}

details {
  display: block;
}

summary {
  @include pirate-italic;
	font-size: calc(1.5rem + 1vmin);
	text-decoration: underline;
	text-align: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	margin: 15px 0 0 0;
}

/*#endregion Global Styling*/

/*#region Common Styling*/

$border-primary: 1px solid $black;

$center: 0px auto;

.center-wrap {
	text-align: center;
}

.dagger1 {
	width: 43px;
	vertical-align: middle;
	transform: scaleX(-1) rotate(75deg);
	margin-right: 10px;
}

.dagger2 {
	width: 43px;
	vertical-align: middle;
	transform: rotate(75deg);
	margin-left: 10px;
}

.spyglass {
	width: calc(2rem + 2vmin);
	min-width: 25px;
	max-width: 45px;
	transform: rotate(295deg);
	vertical-align: middle;
	margin-right: 15px;
}

.moreInfoVisible {
  display: internal;
}

.moreInfoHidden {
  display: none;
}

.button-wrap {
	@include col-center;
	margin-top: 15px;
	vertical-align: middle;
	text-align: center;
}

.clearfix-wrap::after {
	content: "";
  clear: both;
  display: inline-block;
	vertical-align: top;
	width: 100%;
}

/*#endregion Common Styling*/

/*#region Title*/

#maintitle-wrap {
  @include row-center;
	margin-top: 15px;
}

#title-part1 {
	margin-right: 10px;
}

#title-part2 {
	margin-left: 10px;
}

#crossed-keys {
	width: calc(2.5rem + 21vmin);
	min-width: 125px;
	max-width: 216px;
	filter: drop-shadow(4px 4px 8px $dark);
}

#subtitle-wrap {
  @include row-center;
	margin-top: 10px;
}

#breakline1 {
	width: 96%;
	min-width: 372.5px;
	max-width: 950px;
	height: 4.5vw;
	min-height: 22px;
	max-height: 45px;
	margin: .75vmin 0;
}

#navlabels-wrap {
  display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: center;
	height: 20px;
	width: 100%;
	max-width: 375px;
	margin: 10px auto 0px;
}

/*#endregion Title*/

/*#region NavBar*/

#nav-wrap {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	height: 61px;
	width: 100%;
	max-width: 375px;
	padding: 4px;
	backdrop-filter: blur(8px);
	border-radius: 15px;
	margin: 0px auto;
}

.nav-icon {
	width: calc(2rem + 3vmin);
	min-width: 45px;
	max-width: 55px;
	vertical-align: middle;
}

#home {
	margin-right: 13px;
}

/*#endregion NavBar*/

/*#region Home Page*/

#prof-list-wrap {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
  padding: 0 5%;
	margin-top: 10px;
	font-size: calc(1.25rem + 1.5vmin);
}

/*#endregion Home Page*/

/*#region Projects Page*/

.project-list-wrap {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
  padding: 0 5%;
	margin-top: 10px;
	font-size: calc(1rem + 1vmin);
}

#audit {
	width: calc(200px + 40vmin);
	min-width: 320px;
	max-width: 550px;
	margin: 10px auto;
}

/*#endregion Projects Page*/

/*#region Credentials Page*/

.cred-list-wrap {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
  padding: 0 5%;
	margin-top: 10px;
  font-size: calc(1rem + 1.25vmin);
}

.read-more {  
  @include pirate-italic;
	font-size: calc(1.5rem + 1vmin);
	text-decoration: underline;
	color: $red;
	background: none;
	border: none;
}

.read-less {
  @include pirate-reg;
	font-size: calc(1.25rem + 1vmin);
	color: $red;
	background: transparent;
	border: 2px solid $red;
	padding: 5px;
	border-radius: 7px;
	width: 180px;
	margin: 10px auto 0;
}

#speakeasy-info {
  margin: 5px 2% 0 0;
}

#speakeasy-pic {
  float: left;
  width: 25vmin;
	min-width: 110px;
	max-width: 220px;
	margin: 5px 5px 0 0;
}

/*#endregion Credentials Page*/

/*#region About Page*/

#hobbies-info {
  margin-top: 5px;
}

#pool-pic {
  float: right;
  width: 32vmin;
	min-width: 360px;
	max-width: 400px;
	margin-top: 5px;
}

/*#endregion About Page*/

/*#region Footer*/

#resume-wrap {
	margin-top: 20px;
	text-align: center;
}

#resume-link {
  @include pirate-reg;
	font-size: calc(1.35rem + 1.5vmin);
	vertical-align: middle;
	color: $red;
}

#breakline2 {
	width: 96%;
	min-width: 372.5px;
	max-width: 950px;
	min-height: 25px;
	max-height: 42px;
	transform: rotate(180deg);
	margin-top: 20px;
}

#glyph-wrap {
	@include row-center;
	margin: 15px auto 35px;
	padding: 0px 10%;
}

.glyph {
	width: calc(2rem + 2.5vmin);
	vertical-align: middle;
	margin: 15px 45px;
}

#linkedin {
	order: 1;
}

#github {
	order: 2;
}

#pigeon {
  width: calc(3rem + 3vmin);
	vertical-align: middle;
	margin: 15px 45px;
	order: 3;
}

#medium {
	order: 4;
}

#youtube {
	order: 5;
}

/*#endregion Footer*/
